<nav class="navbar navbar-default bg-secondary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
      <span *ngIf="isLoggedIn">
        <a class="navbar-brand" routerLink="/my-projects">My Projects</a>
        <a class="navbar-brand" routerLink="/add">Create new Project</a>
        <a>{{userName}}</a>
        <a (click)="logout()">Log out</a>
      </span>
      <span *ngIf ="!isLoggedIn">
        <a (click)="login()">Log in</a>
      </span>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
