<div class="row" *ngIf="projectToDisplay">
  <h1>{{ projectToDisplay.name }}</h1>
  <div class="col-md-9">
    <br>
    <img src="{{(projectToDisplay).image}}" alt="">
    <h3>{{ projectToDisplay.description }}</h3>
    <div *ngIf="user.email == projectToDisplay.email">
      <button class="btn btn-danger" (click)="beginDeletingProject(projectToDisplay)">Delete</button>
      <button class="btn btn-info" (click)="beginEditingProject()">Edit</button>
    </div>
    <br>
    <div *ngIf="edit">
      <app-edit-project [selectedProject]="projectToDisplay" (clickSender)="switchEdit($event)"></app-edit-project>
    </div>
  </div>
  <div class="col-md-3">
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style.width="{{ percent(projectToDisplay) }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>
    <h3 id="money">${{ projectToDisplay.currentFunding }}</h3>
    <h6>pledged of ${{ projectToDisplay.goalFunding }}</h6>
    <h5>{{ timeLeft(projectToDisplay) }} days left</h5>
  </div>
</div>
