<div class="row" *ngIf="projectToDisplay">
  <h1>{{ projectToDisplay.name }}</h1>
  <div class="col-md-9">
    <br>
    <img src="{{(projectToDisplay).image}}" alt="">
    <h3>{{ projectToDisplay.description }}</h3>
  </div>
  <div class="col-md-3">
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style.width="{{ percent(projectToDisplay) }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div><br>
    <h3 id="money">${{ projectToDisplay.currentFunding }}</h3>
    <h6>pledged of ${{ projectToDisplay.goalFunding }}</h6>
    <h5>{{ timeLeft(projectToDisplay) }} days left</h5>
  </div>
  <button class="btn btn-danger" (click)="beginDeletingAlbum(projectToDisplay)">Delete</button>
</div>
<!-- <h2>Welcome to Jump-Starter</h2>
<div class="row">

  <div *ngFor="let project of projects | async" class="col-md-4">
    <div class="card" (click)="goToDetailPage(project)">
      <div class="card-body">
        <img src="{{project.image}}" alt="">
        <p>Category: {{project.category}}</p>
        <h4><span class="bold">{{project.name}}: </span>{{ shortDescription(project) }}</h4>
        <h6>by {{project.author}}</h6>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style.width="{{ (project.currentFunding) / (project.goalFunding) * 100}}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div><br>
        <h6>${{project.currentFunding}} pledged</h6>
        <h6>{{ (project.currentFunding) / (project.goalFunding) * 100}}% funded</h6>
        <h6>{{ timeLeft(project) }} days left</h6>
      </div>
    </div>
  </div>
</div> -->
